<template>
    <div class="mainMenuIcons">   
        <div class="row text-center pb-4">
            <div class="col-12">
                <h3 class="pt-2 pb-3">Hello Bob, welcome to your dashboard.</h3>
                <!-- @if (count($lastSessionComplete) > 0 && Auth::user()->role_id == 2)
                <h5 class="pb-3">You last completed your {{config('app.name')}} on {{ $lastSessionComplete->last()->created_at->format('d M Y') }}.</h5>
                @endif -->
            </div>
        </div>
        <div class="row text-center">
            <div class="col-6 col-md-4 px-0 pb-3 pb-md-5" v-for="homeScreenIcon in homeScreenIcons" :key="homeScreenIcon.id">
                <a href="#">
                    <img class="img-fluid homeScreenIcons" :src="homeScreenIcon.src" alt="">
                    <h3 class="pt-2 homePageHeaderText">{{homeScreenIcon.linkText}}</h3>
                </a>
            </div>                
        </div>
    </div>
</template>

<script>
    export default {
        data: () => ({
            homeScreenIcons: [
                { src: '../../img/living_smart-icons-01.png', linkText: 'Reminders'},
                { src: '../../img/living_smart-icons-09.png', linkText: 'Track'},
                { src: '../../img/living_smart-icons-03.png', linkText: 'Trends'},
                { src: '../../img/living_smart-icons-04.png', linkText: 'Resources'},
                { src: '../../img/living_smart-icons-05.png', linkText: 'Diary'},
                { src: '../../img/living_smart-icons-06.png', linkText: 'Feedback'},
            ]
        })
    }
</script>