<template>
    <div class="">
        <div class="sideMenu pt-3" id="sideMenu" style="display: none">
            <div class="pr-3 text-right">
                <h1 id="closeMenu">x</h1>
            </div>
            <ul class="sideMenuList pr-4">
                <li class="pb-3"><a href="#"><h3>Profile</h3></a></li>
                <li class="pb-3"><a href="#"><h3>Update My Tracker</h3></a></li>
                <li class="pb-3"><a href="#"><h3>Dashboard</h3></a></li>
                <li class="pb-3"><a href="#"><h3>Logout</h3></a></li>
                <!-- @if(Auth::user() && Auth::user()->role_id == 1) -->
                    <li class="pb-3"><a href="#"><h3>Admin Panel</h3></a></li>
                <!-- @endif -->
            </ul>
        </div>              
        <div class="container">
            <div class="row px-3 px-md-4">
                <div class="col-8 col-md-3 pt-3 pt-md-4 px-3 pl-md-4"><img src="#" alt="" width="300px"></div>
                <div class="col-4 col-md-3 text-center text-md-right offset-md-6 pt-2 px-2">
                    <a data-target="#helpModal" data-toggle="modal" href="#helpModal"><img class="img-fluid" src="#" alt="" width="40px"></a>
                    <img class="img-fluid" src="#" alt="" width="40px" id="openMenu">
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-12 col-md-6 offset-md-3 text-center">
                    @if(\Session::has('success'))
                        <div class="alert alert-success my-3 py-0">
                            <h4>{!! \Session::get('success') !!}</h4>
                        </div>
                    @endif
                </div>
            </div> -->
            <main class="py-3">
                <home-component></home-component>
            </main>
        </div>
    </div>
</template>

<script>
    import HomeComponent from './HomeComponent.vue'
    export default {
        components: {
            'home-component' : HomeComponent
        }
    }
</script>